*::before,
*::after {
  margin: 0;
  padding: 0;
  background-color:  #092F53;
}
body {
  background-color:  #092F53;
}

#vector {
  background-color:  #092F53;
  margin-top: -57px;
  max-width: 100vw;
  max-height: 107vh;
  object-fit: cover;
  overflow: hidden;
}
.odd {
  display: flex;
  gap: 107px;
  margin-top: -74px;
  justify-content: center;
  align-items: center;
}
.even {
  margin-left: 307px;
  margin-top: -77px;
  gap: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vector {
  height: 150.789px;
}
.nfc {
  position: absolute;
  left: 42%;
  top: 40%;
  transform: translate(-50%, -50%);
  transition: 1s;

}

@media (max-width: 600px) {
  .nfc {
    position: absolute;
    left: 17%;
    right: 20%;
    bottom: 50%;
    transition: 1s;
  }
  .odd {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-left: 43px;
    margin-top: -95px;
  }
  .even {
    margin-left: 263px;
    margin-top: -95px;
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #vector {
    margin-top: -90px;
    margin-left: -30px;
    max-width: 110vw;
    max-height: 114vh;
    object-fit: cover;
    overflow: hidden;
  }
}
