*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  font-family: Merriweather, Georgia, serif;
}
body {
  overflow: hidden;
  color: hsl(0, 0%, 10%);
  background-color: #09447a;
}

.hexagon {
  position: relative;
  display: inline-block;
  margin: 0.5px 17px;
  background-color: #000000;
}
.hexagon,
.hexagon::before,
.hexagon::after {
  width: 67px;
  height: 116px;
}
.hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}
.hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}
.hexagon:nth-child(even) {
  top: 59px;
}

.hexanone:nth-child(even) {
  top: 59px;
}
.hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1.4rem;
  line-height: 1.2;
  z-index: 100;
  color: aliceblue;
}
.ibws-fix {
  font-size: 0;
}
.honeycomb {
  height: 115vh;
  position: absolute;
  top: -70px;
  left: -90px;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-width : 1000px) {
  .honeycomb {
    height: 115vh;
    position: absolute;
    top: -70px;
    left: -600px;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
  }
}